body {
  padding: 4rem 2rem;
  margin: 0;
  background: dodgerblue;
  text-align: center;
}

#chart_div svg {
  background: white;
  max-width: 1000px;
  border-radius: .5rem;
  padding: .5rem;
  margin: 0 auto;
  box-shadow: 0 2px 1rem rgba(0,0,0,.2);

  /*Background Color*/
  g:nth-child(2) {
    rect {fill: transparent;}
  }

  /* Chart Settings */
  g:nth-child(3) {
    rect:nth-child(odd) {fill: transparent;} /* Rows Odd */
    rect:nth-child(even) {fill: transparent;} /* Rows Even */
    text {
      /* Hotizontal Labels */
      fill: dodgerblue;
      font-family: 'Roboto Mono' !important;
      font-weight: normal !important;
      text-transform: uppercase;
      letter-spacing: -.5px;
    }
    line {
      /* Row Lines */
      stroke: transparent;
      stroke-width: 0;
    }
  }

  /* Arrows */
  g:nth-child(4) {
    path {
      stroke-width: 1;
      stroke: dodgerblue;
    }
  }

  /* Shadow */
  g:nth-child(6) {
    rect {
      fill: dodgerblue;
    }
  }

  /* Bars */
  g:nth-child(7) {
    rect {fill: dodgerblue;}
  }

  /* Percent Complete */
  g:nth-child(8) {
    path {fill: rgba(0,0,0,.2);}
  }

  /* Side Labels */
  g:nth-child(9) {
    text {fill: dodgerblue;}
  }

  /* Tooltips */
  g:nth-child(10) {
    rect {
      stroke: white;
    }
    text {
      fill: rgba(0,0,0,.6);
      font-size: 12.5px !important;
      letter-spacing: -.5px;
      font-family: 'Roboto Mono' !important;
    }
    text:nth-child(2) {
      fill: dodgerblue;
    }
  }
}