<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forbitbd.tasker" >


    <application
        android:networkSecurityConfig="@xml/network_config">

        <activity android:name=".ui.TaskActivity"/>
        <activity android:name=".ui.taskAdd.TaskAddActivity"/>
        <activity android:name=".ui.taskEdit.TaskEditActivity"/>
        <activity android:name=".ui.taskDetail.TaskDetailActivity"/>
        <activity android:name=".ui.addWorkdone.AddWorkdoneActivity"/>
        <activity android:name=".ui.gantt.GanttActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"/>




        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>
